{include file="header.tpl"}
{include file="navigation.tpl"}
<!-- File: search.tpl -->	
	<div class="content">
		<h1>Search Collection</h1>
    {include file="search_form.tpl"}
	</div>
<!-- End of file: search.tpl -->	
{include file="footer.tpl"}